*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mamae{
    width: 920px;
    height: 800px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 2px dashed salmon;
    gap: 20px;
}

.mamae__filhinho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: aqua;
    border: 2px dashed black;
}

.filhinho--azul{
    background-color: blue;
    color: azure;
    border: solid red;
}